---
http_interactions:
- request:
    method: post
    uri: https://ec2.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAddresses&Filter.1.Name=public-ip&Filter.1.Value.1=52.29.62.30&Version=2014-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Amz-Date:
      - 20151206T124845Z
      Authorization:
      - AWS4-HMAC-SHA256 Credential=12345678901234567890/20151206/eu-central-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-date, Signature=NeeJ2hahzoo1aor7nooj5aathailu5kooh5toobae3Yae2OhquiecheK1raiyah5
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAddressesResponse xmlns="http://ec2.amazonaws.com/doc/2014-10-01/">
            <requestId>e6099b25-19c3-4c8b-9a5d-a297e28f7a16</requestId>
            <addressesSet>
                <item>
                    <publicIp>52.29.62.30</publicIp>
                    <allocationId>eipalloc-9678b8ff</allocationId>
                    <domain>vpc</domain>
                </item>
            </addressesSet>
        </DescribeAddressesResponse>
  recorded_at: Sun, 06 Dec 2015 12:48:46 GMT
recorded_with: VCR 3.0.0
