---
http_interactions:
- request:
    method: post
    uri: https://ec2.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeDhcpOptions&Filter.1.Name=tag%3AName&Filter.1.Value.1=test&Version=2014-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Amz-Date:
      - 20151205T131735Z
      Authorization:
      - AWS4-HMAC-SHA256 Credential=12345678901234567890/20151204/eu-central-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-date, Signature=NeeJ2hahzoo1aor7nooj5aathailu5kooh5toobae3Yae2OhquiecheK1raiyah5
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeDhcpOptionsResponse xmlns="http://ec2.amazonaws.com/doc/2014-10-01/">
            <requestId>d64342f4-07fe-4a7f-9b6f-5ee0bb7789ba</requestId>
            <dhcpOptionsSet>
                <item>
                    <dhcpOptionsId>dopt-b66da9df</dhcpOptionsId>
                    <dhcpConfigurationSet>
                        <item>
                            <key>domain-name</key>
                            <valueSet>
                                <item>
                                    <value>eu-central-1.compute.internal</value>
                                </item>
                            </valueSet>
                        </item>
                        <item>
                            <key>domain-name-servers</key>
                            <valueSet>
                                <item>
                                    <value>AmazonProvidedDNS</value>
                                </item>
                            </valueSet>
                        </item>
                    </dhcpConfigurationSet>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>test</value>
                        </item>
                    </tagSet>
                </item>
            </dhcpOptionsSet>
        </DescribeDhcpOptionsResponse>
  recorded_at: Sat, 05 Dec 2015 13:17:35 GMT
recorded_with: VCR 3.0.0
