---
http_interactions:
- request:
    method: post
    uri: https://ec2.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&Filter.1.Name=tag%3AName&Filter.1.Value.1=test&Version=2014-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Amz-Date:
      - 20151206T153315Z
      Authorization:
      - AWS4-HMAC-SHA256 Credential=12345678901234567890/20151206/eu-central-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-date, Signature=NeeJ2hahzoo1aor7nooj5aathailu5kooh5toobae3Yae2OhquiecheK1raiyah5
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2014-10-01/">
            <requestId>0666112e-d30d-41e5-8835-2f8b0c6fa134</requestId>
            <imagesSet>
                <item>
                    <imageId>ami-62b5a80e</imageId>
                    <imageLocation>123456789012/test</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>123456789012</imageOwnerId>
                    <creationDate>2015-12-06T15:29:19.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <sriovNetSupport>simple</sriovNetSupport>
                    <name>test</name>
                    <description>test description</description>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-63627855</snapshotId>
                                <volumeSize>8</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                                <volumeType>gp2</volumeType>
                                <encrypted>false</encrypted>
                            </ebs>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>hvm</virtualizationType>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>test</value>
                        </item>
                    </tagSet>
                    <hypervisor>xen</hypervisor>
                </item>
            </imagesSet>
        </DescribeImagesResponse>
  recorded_at: Sun, 06 Dec 2015 15:33:16 GMT
recorded_with: VCR 3.0.0
