---
http_interactions:
- request:
    method: post
    uri: https://ec2.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&Filter.1.Name=tag%3AName&Filter.1.Value.1=test&Version=2014-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Amz-Date:
      - 20151206T142240Z
      Authorization:
      - AWS4-HMAC-SHA256 Credential=12345678901234567890/20151206/eu-central-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-date, Signature=NeeJ2hahzoo1aor7nooj5aathailu5kooh5toobae3Yae2OhquiecheK1raiyah5
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-10-01/">
            <requestId>b0028f8e-3c70-4a40-a5e0-56bd4307bca5</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-d0bb556d</reservationId>
                    <ownerId>123456789012</ownerId>
                    <groupSet/>
                    <instancesSet>
                        <item>
                            <instanceId>i-6bcc34d6</instanceId>
                            <imageId>ami-accff2b1</imageId>
                            <instanceState>
                                <code>16</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-192-168-0-26.eu-central-1.compute.internal</privateDnsName>
                            <dnsName/>
                            <reason/>
                            <keyName>test</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t2.micro</instanceType>
                            <launchTime>2015-12-06T14:20:42.000Z</launchTime>
                            <placement>
                                <availabilityZone>eu-central-1a</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <subnetId>subnet-2fe88946</subnetId>
                            <vpcId>vpc-037ee96a</vpcId>
                            <privateIpAddress>192.168.0.26</privateIpAddress>
                            <ipAddress>52.29.234.162</ipAddress>
                            <sourceDestCheck>true</sourceDestCheck>
                            <groupSet>
                                <item>
                                    <groupId>sg-b72261de</groupId>
                                    <groupName>default</groupName>
                                </item>
                            </groupSet>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/sda1</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/sda1</deviceName>
                                    <ebs>
                                        <volumeId>vol-86c98e5f</volumeId>
                                        <status>attached</status>
                                        <attachTime>2015-12-06T14:20:45.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>hvm</virtualizationType>
                            <clientToken>aLpJw1449411641800</clientToken>
                            <tagSet>
                                <item>
                                    <key>Name</key>
                                    <value>test</value>
                                </item>
                            </tagSet>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet>
                                <item>
                                    <networkInterfaceId>eni-749bf51c</networkInterfaceId>
                                    <subnetId>subnet-2fe88946</subnetId>
                                    <vpcId>vpc-037ee96a</vpcId>
                                    <description>Primary network interface</description>
                                    <ownerId>123456789012</ownerId>
                                    <status>in-use</status>
                                    <macAddress>02:74:d9:9e:e6:b5</macAddress>
                                    <privateIpAddress>192.168.0.26</privateIpAddress>
                                    <sourceDestCheck>true</sourceDestCheck>
                                    <groupSet>
                                        <item>
                                            <groupId>sg-b72261de</groupId>
                                            <groupName>default</groupName>
                                        </item>
                                    </groupSet>
                                    <attachment>
                                        <attachmentId>eni-attach-d9357617</attachmentId>
                                        <deviceIndex>0</deviceIndex>
                                        <status>attached</status>
                                        <attachTime>2015-12-06T14:20:42.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </attachment>
                                    <association>
                                        <publicIp>52.29.234.162</publicIp>
                                        <publicDnsName/>
                                        <ipOwnerId>amazon</ipOwnerId>
                                    </association>
                                    <privateIpAddressesSet>
                                        <item>
                                            <privateIpAddress>192.168.0.26</privateIpAddress>
                                            <primary>true</primary>
                                            <association>
                                            <publicIp>52.29.234.162</publicIp>
                                            <publicDnsName/>
                                            <ipOwnerId>amazon</ipOwnerId>
                                            </association>
                                        </item>
                                    </privateIpAddressesSet>
                                </item>
                            </networkInterfaceSet>
                            <iamInstanceProfile>
                                <arn>arn:aws:iam::123456789012:instance-profile/test</arn>
                                <id>AIPAIE5TD53X2ABOGYZJI</id>
                            </iamInstanceProfile>
                            <ebsOptimized>false</ebsOptimized>
                        </item>
                    </instancesSet>
                </item>
            </reservationSet>
        </DescribeInstancesResponse>
  recorded_at: Sun, 06 Dec 2015 14:22:40 GMT
recorded_with: VCR 3.0.0
