---
http_interactions:
- request:
    method: post
    uri: https://ec2.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeNetworkInterfaces&Filter.1.Name=tag%3AName&Filter.1.Value.1=test&Version=2014-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Amz-Date:
      - 20151206T115807Z
      Authorization:
      - AWS4-HMAC-SHA256 Credential=12345678901234567890/20151206/eu-central-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-date, Signature=NeeJ2hahzoo1aor7nooj5aathailu5kooh5toobae3Yae2OhquiecheK1raiyah5
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeNetworkInterfacesResponse xmlns="http://ec2.amazonaws.com/doc/2014-10-01/">
            <requestId>84a1244f-ba9a-4b62-a46a-6e3a4c56b383</requestId>
            <networkInterfaceSet>
                <item>
                    <networkInterfaceId>eni-afa0cec7</networkInterfaceId>
                    <subnetId>subnet-2fe88946</subnetId>
                    <vpcId>vpc-037ee96a</vpcId>
                    <availabilityZone>eu-central-1a</availabilityZone>
                    <description>test description</description>
                    <ownerId>123456789012</ownerId>
                    <requesterManaged>false</requesterManaged>
                    <status>available</status>
                    <macAddress>02:65:63:0c:f0:7d</macAddress>
                    <privateIpAddress>192.168.0.126</privateIpAddress>
                    <sourceDestCheck>true</sourceDestCheck>
                    <groupSet>
                        <item>
                            <groupId>sg-b72261de</groupId>
                            <groupName>default</groupName>
                        </item>
                    </groupSet>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>test</value>
                        </item>
                    </tagSet>
                    <privateIpAddressesSet>
                        <item>
                            <privateIpAddress>192.168.0.126</privateIpAddress>
                            <primary>true</primary>
                        </item>
                    </privateIpAddressesSet>
                </item>
            </networkInterfaceSet>
        </DescribeNetworkInterfacesResponse>
  recorded_at: Sun, 06 Dec 2015 11:58:07 GMT
recorded_with: VCR 3.0.0
