---
http_interactions:
- request:
    method: post
    uri: https://ec2.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSecurityGroups&Filter.1.Name=tag%3AName&Filter.1.Value.1=test&Version=2014-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Amz-Date:
      - 20151205T141740Z
      Authorization:
      - AWS4-HMAC-SHA256 Credential=12345678901234567890/20151205/eu-central-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-date, Signature=NeeJ2hahzoo1aor7nooj5aathailu5kooh5toobae3Yae2OhquiecheK1raiyah5
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSecurityGroupsResponse xmlns="http://ec2.amazonaws.com/doc/2014-10-01/">
            <requestId>d86bd54f-c66c-40ed-b413-584c48feb5af</requestId>
            <securityGroupInfo>
                <item>
                    <ownerId>123456789012</ownerId>
                    <groupId>sg-b72261de</groupId>
                    <groupName>default</groupName>
                    <groupDescription>default VPC security group</groupDescription>
                    <vpcId>vpc-037ee96a</vpcId>
                    <ipPermissions>
                        <item>
                            <ipProtocol>-1</ipProtocol>
                            <groups>
                                <item>
                                    <userId>123456789012</userId>
                                    <groupId>sg-b72261de</groupId>
                                </item>
                            </groups>
                            <ipRanges/>
                        </item>
                    </ipPermissions>
                    <ipPermissionsEgress>
                        <item>
                            <ipProtocol>-1</ipProtocol>
                            <groups/>
                            <ipRanges>
                                <item>
                                    <cidrIp>0.0.0.0/0</cidrIp>
                                </item>
                            </ipRanges>
                        </item>
                    </ipPermissionsEgress>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>test</value>
                        </item>
                    </tagSet>
                </item>
            </securityGroupInfo>
        </DescribeSecurityGroupsResponse>
  recorded_at: Sat, 05 Dec 2015 14:17:40 GMT
recorded_with: VCR 3.0.0
