---
http_interactions:
- request:
    method: post
    uri: https://ec2.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSnapshots&Filter.1.Name=tag%3AName&Filter.1.Value.1=test&RestorableBy=self&Version=2014-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Amz-Date:
      - 20151206T125949Z
      Authorization:
      - AWS4-HMAC-SHA256 Credential=12345678901234567890/20151206/eu-central-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-date, Signature=NeeJ2hahzoo1aor7nooj5aathailu5kooh5toobae3Yae2OhquiecheK1raiyah5
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSnapshotsResponse xmlns="http://ec2.amazonaws.com/doc/2014-10-01/">
            <requestId>b49a0773-a7ea-4560-a14f-ac895cd82895</requestId>
            <snapshotSet>
                <item>
                    <snapshotId>snap-58eee76e</snapshotId>
                    <volumeId>vol-9cc58245</volumeId>
                    <status>completed</status>
                    <startTime>2015-12-06T12:58:06.000Z</startTime>
                    <progress>100%</progress>
                    <ownerId>123456789012</ownerId>
                    <volumeSize>1</volumeSize>
                    <description>test description</description>
                    <encrypted>false</encrypted>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>test</value>
                        </item>
                    </tagSet>
                </item>
            </snapshotSet>
        </DescribeSnapshotsResponse>
  recorded_at: Sun, 06 Dec 2015 12:59:49 GMT
recorded_with: VCR 3.0.0
