---
http_interactions:
- request:
    method: post
    uri: https://ec2.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSubnets&Filter.1.Name=tag%3AName&Filter.1.Value.1=test-2&Version=2014-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Amz-Date:
      - 20151205T143619Z
      Authorization:
      - AWS4-HMAC-SHA256 Credential=12345678901234567890/20151205/eu-central-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-date, Signature=NeeJ2hahzoo1aor7nooj5aathailu5kooh5toobae3Yae2OhquiecheK1raiyah5
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSubnetsResponse xmlns="http://ec2.amazonaws.com/doc/2014-10-01/">
            <requestId>b1a129c2-d526-47de-be90-929eeb9a8b9b</requestId>
            <subnetSet>
                <item>
                    <subnetId>subnet-32e8895b</subnetId>
                    <state>available</state>
                    <vpcId>vpc-037ee96a</vpcId>
                    <cidrBlock>192.168.0.128/25</cidrBlock>
                    <availableIpAddressCount>123</availableIpAddressCount>
                    <availabilityZone>eu-central-1a</availabilityZone>
                    <defaultForAz>false</defaultForAz>
                    <mapPublicIpOnLaunch>true</mapPublicIpOnLaunch>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>test-2</value>
                        </item>
                    </tagSet>
                </item>
            </subnetSet>
        </DescribeSubnetsResponse>
  recorded_at: Sat, 05 Dec 2015 14:36:19 GMT
recorded_with: VCR 3.0.0
